---
layout: default
---


{% for post in paginator.posts %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="main-content" itemprop="articleBody">

<a name="blog{{ forloop.index }}"></a>

  <header class="post-header">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h3 class="post-title" itemprop="name headline">{{ post.title }}</h3> </a>

  </header>

    {{ post.content }}

<p class="post-meta" style="text-align: right; color: rgb(152,152,152);"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %} • <label for="our-popup-{{ forloop.index }}"><i class="fa fa-share"></i> Share / Permalink</label></p>

	<span>
		<input type="checkbox" id="our-popup-{{ forloop.index }}" class="smoosh" />

		<!-- invisible; when checked, the popup opens -->
		<label for="our-popup-{{ forloop.index }}" class="overlay"></label>

		<!-- the popup starts here -->
		<div class="overlay-dialogue">
			<h3>Share "{{ post.title  }}"</h3>

            <!-- Target -->
<input id="foo{{ forloop.index }}" value="{{ site.url }}{{ post.url }}" type="url">

<!-- Trigger -->
<button class="share-btn" data-clipboard-target="#foo{{ forloop.index }}">COPY LINK
</button>
            <p style="text-align: center;">Share on: <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}" target="_blank">Facebook</a> • <a href="https://twitter.com/share?url={{ site.url }}{{ post.url }}&amp;text={{ post.title }}" target="_blank">Twitter</a>

			<p style="text-align: center;"><label for="our-popup-{{ forloop.index }}">cancel</label></p>
		</div>
	</span>

  </div>

</article>

{% endfor %}

<div class="pagination" style="text-align: center;">

  {% if paginator.next_page %}
    <h2><a href="{{ paginator.next_page_path }}" class="next">- more posts -</a></h2>
  {% endif %}

  {% if paginator.previous_page %}
    <h2><a href="{{ paginator.previous_page_path }}" class="previous">- previous page -</a></h2>
  {% endif %}

</div>
